.container {
    text-align: center;
}

h1 {
    color: #0c4a31;
}

label {
    display: block;
    margin-top: 20px;
    font-weight: bold;
}

input, select {
    margin-top: 5px;
}

button {
    margin-top: 20px;
}
